<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Mischa Gluzman">
   		<link rel="stylesheet" th:href="@{/style.css}">

        <title>Kundenverwaltung</title>
    </head>
    <body>
  	  <a th:href="@{/}" >Zurück zur Kundenverwaltung</a>
    	<h2>Persönliche Informationen</h2>
    	
    	
        <div class="contentIndex">
			<h3>Kerndaten</h3>
            <table>
                <tr>
	                <th>ID</th>
	                <th>Name</th>
	                <th>Vorname</th>
	                <th>Geburtsdatum</th>
	                <th>Geschlecht</th>
	                <th>E-Mail</th>
                </tr>
                
                <tr>
                	<td th:text="${customer.id}" ></td>
               	 	<td th:text="${customer.lastName}" ></td>
               		<td th:text="${customer.firstName}" ></td>
                	<td th:text="${customer.dateOfBirth}"></td>
                	<td th:text="${customer.sex}"></td>
                	<td th:text="${customer.email}"></td>
                	<td><a th:href="@{/editCustomer/{id}(id=${customer.id})}" id="editBtn">Bearbeiten</a></td>
                	<td><a th:href="@{/deleteCustomer/{id}(id=${customer.id})}" id="deleteBtn" >Löschen</a></td>
                
            </table>
            
            <h3>Addressen</h3>
              <a th:href="@{/addAddress/{id}(id=${customer.id})}" id="addressBtn" >Adresse hinzufügen</a>
              
              <div id="standardAddress" th:if="${standardAddress != null}" th:object="${standardAddress}" >
              	<p>
	               	<span><b>Hauptadresse:</b></span>
	               	<span th:text="${standardAddress.street}"></span>
	               	<span th:text="${standardAddress.houseNumber}"></span>
	               	<span>,</span>
	               	<span th:text="${standardAddress.postalCode}"></span>
	               	<span th:text="${standardAddress.city}"></span>
	               	<span th:text="${standardAddress.country}"></span>
              	</p>
              </div>
              
              <div id="NoStandardAddress" th:if="${standardAddress == null}" th:unless="${addressList.isEmpty()}">
              	<p>
	               	<span><b>Keine Hauptadresse angegeben</b></span>
	
              	</p>
              </div>
            
            <table th:if="${!addressList.isEmpty()}">
                <tr>
                	<th>Hauptadresse</th>
	                <th>Adressnummer</th>
	                <th>Straße</th>
	                <th>Hausnummer</th>
	                <th>Postleitzahl</th>
	                <th>Stadt</th>
	                <th>Land</th>
                </tr>
                
                 	<tr th:each="address: ${addressList}">
                 	<td th:if=${!address.isStandardAddress()}><a th:href="@{/setStandardAddress/{addressId}/{id}(addressId=${address.addressId}, id=${customer.id})}" id="StandardAddressButton">✓</a></td>
                 	<td th:if=${address.isStandardAddress()}><b>✓<b></td>
                	<td th:text="${addressStat.index+1}"></td>
               	 	<td th:text="${address.street}"></td>
               		<td th:text="${address.houseNumber}" ></td>
                	<td th:text="${address.postalCode}"></td>
                	<td th:text="${address.city}"></td>
                	<td th:text="${address.country}"></td>
                	<td><a th:href="@{/editAddress/{addressId}/{id}(addressId=${address.addressId}, id=${customer.id})}" id="editBtn">Bearbeiten</a></td>
                	<td><a th:href="@{/deleteAddress/{addressId}/{id}(addressId=${address.addressId}, id=${customer.id})}" id="deleteBtn" >Löschen</a></td>
                </tr>
            </table>
            <br>
        </div>
    </body>
</html>